web/META-INF/wsdl/localhost_8084/SIPL/MobilWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://recursos.sipl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://recursos.sipl/" name="MobilWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://recursos.sipl/" schemaLocation="http://localhost:8084/SIPL/MobilWebService?xsd=1" />
        </xsd:schema>
    </types>
    <message name="finalizarPrestamo">
        <part name="parameters" element="tns:finalizarPrestamo" />
    </message>
    <message name="finalizarPrestamoResponse">
        <part name="parameters" element="tns:finalizarPrestamoResponse" />
    </message>
    <message name="login">
        <part name="parameters" element="tns:login" />
    </message>
    <message name="loginResponse">
        <part name="parameters" element="tns:loginResponse" />
    </message>
    <message name="addPrestamo">
        <part name="parameters" element="tns:addPrestamo" />
    </message>
    <message name="addPrestamoResponse">
        <part name="parameters" element="tns:addPrestamoResponse" />
    </message>
    <portType name="MobilWebService">
        <operation name="finalizarPrestamo">
            <input wsam:Action="http://recursos.sipl/MobilWebService/finalizarPrestamoRequest" message="tns:finalizarPrestamo" />
            <output wsam:Action="http://recursos.sipl/MobilWebService/finalizarPrestamoResponse" message="tns:finalizarPrestamoResponse" />
        </operation>
        <operation name="login">
            <input wsam:Action="http://recursos.sipl/MobilWebService/loginRequest" message="tns:login" />
            <output wsam:Action="http://recursos.sipl/MobilWebService/loginResponse" message="tns:loginResponse" />
        </operation>
        <operation name="addPrestamo">
            <input wsam:Action="http://recursos.sipl/MobilWebService/addPrestamoRequest" message="tns:addPrestamo" />
            <output wsam:Action="http://recursos.sipl/MobilWebService/addPrestamoResponse" message="tns:addPrestamoResponse" />
        </operation>
    </portType>
    <binding name="MobilWebServicePortBinding" type="tns:MobilWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="finalizarPrestamo">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="login">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="addPrestamo">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="MobilWebService">
        <port name="MobilWebServicePort" binding="tns:MobilWebServicePortBinding">
            <soap:address location="http://localhost:8084/SIPL/MobilWebService" />
        </port>
    </service>
</definitions>