src/conf/xml-resources/web-service-references/MobilWebService/wsdl/localhost_8084/SIPL/MobilWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://recursos.sipl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://recursos.sipl/">

<xs:element name="addPrestamo" type="tns:addPrestamo" />

<xs:element name="addPrestamoResponse" type="tns:addPrestamoResponse" />

<xs:element name="finalizarPrestamo" type="tns:finalizarPrestamo" />

<xs:element name="finalizarPrestamoResponse" type="tns:finalizarPrestamoResponse" />

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:complexType name="addPrestamo">
<xs:sequence>
<xs:element name="cod_materiales" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
<xs:element name="apiK" type="xs:string" minOccurs="0" />
<xs:element name="apiS" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPrestamoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="apiK" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="finalizarPrestamo">
<xs:sequence>
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
<xs:element name="apiK" type="xs:string" minOccurs="0" />
<xs:element name="apiS" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="finalizarPrestamoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>